* {
  font-family: 'Poppins', sans-serif;
}
body div[page="4"] .page.p4 .region.undefined .page-4-title h2 {
  color: #785849;
  font-weight: 400;
}
body div[page="4"] .page.p4 .region.undefined .page-4-title h1 {
  color: #770b0a;
}
body div[page="4"] .page.p4 .region.undefined .page-4-title p {
  text-align: center;
  color: #000000;
  margin-top: 15px;
}
body div[page="4"] .page.p4 .region.undefined .aux-class-content h4 {
  font-size: 15px;
  color: #000000;
  text-align: center;
  font-weight: 800;
}
body div[page="4"] .page.p4 .region.undefined .aux-class-content p::first-letter {
  font-size: 200px;
}
body div[page="4"] .page.p4 .region.undefined .aux-class-content .main-text,
body div[page="4"] .page.p4 .region.undefined .aux-class-content i {
  color: #000000;
  font-family: 'Poppins', sans-serif;
}
body div[page="4"] .page.p4 .region.tooltip-author img {
  display: none;
}
body div[page="4"] .page.p4 .region.author-image {
  z-index: 1;
}
body div[page="4"] .page.p4 .region.actions .div-center-two-icons-responsive {
  gap: 10px;
}

.main-text{

  font-size: 0.73em;
}

.main-text-p9{
  font-size: 0.75em;
  text-align: right;
  line-height: 12px;
  color: rgb(209, 206, 206);
}


.main-text-p8{
  font-size: 0.73em;
}


.title-p7{
  font-size: 1.2em;
  color: #301406;
  line-height: 16px;
}
.title-p20{
  text-align: left;
  font-size: 4em; 
  color: white;
  line-height: 60px;
}
.nombres-p20{
  text-align: center;
  line-height: 14px;
}
.text-pag-7{
  font-size: 0.8em;
  color: #301406;
}

.main-text-p9-1{
  font-size: 0.7em;
  text-align: center;
}

.main-text-p11{
  text-align: left;
  font-size: 0.90em;
}

.main-text-p12{
  color: white;
  text-align: center;
  font-size: 0.90em;
}

.main-pais-p12{
  color: white;
  font-size: 1.6em;
  text-align: left;
}

.main-text-p42{
  color: black;
  font-size: 0.75em;
  text-align: left;
  line-height: 12px;
}
.main-text-p20{
  color: white;
  font-size: 0.7em;
  text-align: right;
  line-height: 12px;
}
.main-text-p42-2{
  color: black;
  font-size: 0.5em;
  text-align: right;
  line-height: 12px;
}

.event-container {
  display: flex;
  align-items: center;
  line-height: 20px;
}
.event-container .image img {
  width: 60px;
  border-radius: 50%;
}
.event-container h3.text {
  color: #ffffff;
  transform: translateX(-10px);
  text-transform: capitalize;
  max-width: 200px;
}
@media (max-width: 480px) {
  .event-container .image img {
    width: 70px;
  }
  .event-container h3.text {
    font-size: 14px;
    max-width: 150px;
  }
}
.event-title p {
  color: #ffffff;
  font-size: 20px;
}
.event-title p strong {
  margin-right: 8px;
  font-size: 40px;
}
.event-subtitle {
  max-width: 150px;
}
.event-subtitle p {
  color: #ffffff;
  font-size: 12px;
  text-align: left; 
}
.region.full-subtitle .event-subtitle {
  max-width: none;
}

.text-pag-20{
  font-size: 0.7em;
  line-height: 12px;
}

.table-modal{
  text-align: center;
  width: 100%;
  border: 2px solid #000;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0.3em;
}

tr,td{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

.title-pag-37{
  font-size: 4em;
  text-align: left;
  color: white;
  line-height: 60px;
}

.fecha-pag-37{
  color: white;
}

.text-pag-34{
  color: white;
  line-height: 14px;
  font-size: 0.6em;
  text-align: center;
}

.main-text-p34{
  color: white;
  line-height: 25px;
  font-size: 1.5em;
  text-align: left;
}

.nombres-p26{
  color: white;
  font-size: 0.7em;
  text-align: center;
  line-height: 14px;
}