// estilos generales para todas las pagina
@popins-font: 'Poppins', sans-serif;

// colores
@black: #000000;
@white: #ffffff;
@blue-light: #01b7e6;

// aplicar fuente a todos los textos de la revista
*{
    font-family: @popins-font;
}

body{
    // pagina 3
    div[page="4"]{
        .page.p4{
            .region.undefined{
                .page-3-title{
                    h2{
                        color: #785849;
                        font-weight: 400;
                    }

                    h1{
                        color: #770b0a;
                    }

                    p{
                        text-align: center;
                        color: @black;
                        margin-top: 15px;
                    }
                }

                .aux-class-content{
                    h4{
                        font-size: 15px;
                        color: @black;
                        text-align:  center;
                        font-weight: 800;
                    }

                    p::first-letter {
                        font-size: 200px;
                    }

                    .main-text, i{
                        color: @black;
                        font-family: @popins-font;
                    }
                }    
            }
            .region.tooltip-author{
                img{
                    display: none;
                }
            }

            .region.author-image{
                z-index: 1;
            }
            .region.actions{
                .div-center-two-icons-responsive{
                    gap: 10px;
                }
            }
            
        } 
    }
}

// estilos generales para el contenedor de los eventos
.event-container{
    display: flex;
    align-items: center;
    .image{
        img{
            width: 80px;
            border-radius: 50%;
        }
    }
    h3.text{
        color: @white;
        transform: translateX(-10px);
        text-transform: capitalize;
        max-width: 180px;
    }

    @media (max-width: 480px) {
        .image{
            img{
                width: 70px;
            }
        }
        h3.text{
            font-size: 14px;
            max-width: 150px;

        }
    }
}

// estilos generales para el titulo de los eventos
.event-title{
    p{
        color: @white;
        font-size: 20px;
        strong{
            margin-right: 8px;
            font-size: 40px;
        }
    }
}

// estilos generales para los subtitulos de los eventos
.event-subtitle{
    max-width: 150px;
    p{
        color: @white;
        font-size: 13px;
        text-align: left;
    }
}

.region.full-subtitle{
    .event-subtitle{
        max-width: none;
    }
}
