* {
  font-family: 'Poppins', sans-serif;
}
body div[page="4"] .page.p4 .region.undefined .page-4-title h2 {
  color: #785849;
  font-weight: 400;
}
body div[page="4"] .page.p4 .region.undefined .page-4-title h1 {
  color: #770b0a;
}
body div[page="4"] .page.p4 .region.undefined .page-4-title p {
  text-align: center;
  color: #000000;
  margin-top: 15px;
}
body div[page="4"] .page.p4 .region.undefined .aux-class-content h4 {
  font-size: 15px;
  color: #000000;
  text-align: center;
  font-weight: 800;
}
body div[page="4"] .page.p4 .region.undefined .aux-class-content p::first-letter {
  font-size: 200px;
}
body div[page="4"] .page.p4 .region.undefined .aux-class-content .main-text,
body div[page="4"] .page.p4 .region.undefined .aux-class-content i {
  color: #000000;
  font-family: 'Poppins', sans-serif;
}
body div[page="4"] .page.p4 .region.tooltip-author img {
  display: none;
}
body div[page="4"] .page.p4 .region.author-image {
  z-index: 1;
}
body div[page="4"] .page.p4 .region.actions .div-center-two-icons-responsive {
  gap: 10px;
}
.event-container {
  display: flex;
  align-items: center;
}
.event-container .image img {
  width: 80px;
  border-radius: 50%;
}
.event-container h3.text {
  color: #ffffff;
  transform: translateX(-10px);
  text-transform: capitalize;
  max-width: 180px;
}
@media (max-width: 480px) {
  .event-container .image img {
    width: 70px;
  }
  .event-container h3.text {
    font-size: 14px;
    max-width: 150px;
  }
}
.event-title p {
  color: #ffffff;
  font-size: 20px;
}
.event-title p strong {
  margin-right: 8px;
  font-size: 35px;
}
.event-subtitle {
  max-width: 150px;
}
.event-subtitle p {
  color: #ffffff;
  font-size: 12px;
  text-align: left;
}
.region.full-subtitle .event-subtitle {
  max-width: none;
}
#canvas {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffffff90;
  border-radius: 8px;
  padding: 5px 30px 5px 20px;
  z-index: 9000;
}
#canvas.active .action svg {
  transform: rotate(180deg);
}
#canvas.active .dropdown {
  max-height: 500px;
  transition: all ease-in-out 0.8s;
}
#canvas .action {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}
#canvas .action svg {
  transition: all ease-in-out 0.4s;
  position: absolute;
  right: -20px;
}
#canvas .dropdown {
  max-height: 0;
  transition: all ease-in-out 0.8s;
  overflow: hidden;
}
#canvas .dropdown.active {
  max-height: 500px;
  transition: all ease-in-out 0.8s;
}
#canvas .dropdown ul {
  padding: 0;
  margin-bottom: 0;
}
#canvas .dropdown ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas .dropdown ul li button {
  background: none;
  border: none;
}

.title-pag-37{
  font-size: 4em;
  text-align: left;
  color: white;
  line-height: 60px;
}

.fecha-pag-37{
  color: white;
}

.text-pag-34{
  color: white;
  line-height: 14px;
  font-size: 0.6em;
  text-align: center;
}

.main-text-p34{
  color: white;
  line-height: 25px;
  font-size: 1.5em;
  text-align: left;
}